PERCH_MOUNT_FLASK_SECRET="./flask_secret"
PERCH_MOUNT_JWT_SECRET="./jwt_secret"


PERCH_MOUNT_MEDIA_ROOT=
PERCH_MOUNT_TASKS_DIR_PATH=
PERCH_MOUNT_EMPTY_CHECK_LIMIT=250
PERCH_MOUNT_REVIEW_LIMIT=50
PERCH_MOUNT_DETECTED_EMPTY_CHECK_LIMIT=50
PERCH_MOUNT_PROCESSED_DATA_REMAIN_DAYS = 7
PERCH_MOUNT_ACCESS_CONTROL_ALLOW_ORIGIN=*

PERCH_MOUNT_MINIO=http://your.minio
PERCH_MOUNT_MINIO_HTTPS_HOST=https://your.minio
PERCH_MOUNT_MINIO_PORT="9000"

PERCH_MOUNT_MINIO_ACCESS_KEY=
PERCH_MOUNT_MINIO_SECRET_KEY=
PERCH_MOUNT_MINIO_BUCKET="perchmount"
PERCH_MOUNT_MINIO_DATA_EXPORT_BUCKET=dataexport
PERCH_MOUNT_EXPORT_DATA_RETAIN_DAYS=30

PERCH_MOUNT_POSTGRESQL_PASSWORD=12345678
PERCH_MOUNT_POSTGRESQL_USER=root
PERCH_MOUNT_POSTGRESQL_HOST=127.0.0.1
PERCH_MOUNT_POSTGRESQL_PORT=3306
POSTGRESQL_DATABASE_NAME=perch_mount

PERCH_MOUNT_CACHE_KEY_PREFIX=PERCH_MOUNT
PERCH_MOUNT_CACHE_REDIS_HOST=127.0.0.1
PERCH_MOUNT_CACHE_REDIS_PORT=6379
PERCH_MOUNT_REDIS_MAXMEMORY=4gb
PERCH_MOUNT_REDIS_MAXMEMORY_POLICY=allkeys-lfu

PERCH_MOUNT_GOOGLE_OAUTH2_CLIENT_ID=ClientIDHere